@model AutoSolution.Services.ViewModel.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/assets/css/demo1/pages/login/login-1.css" rel="stylesheet" />
<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main" style="margin: 0 auto">
            <h2 class="kt-subheader__title kt-align-center">Reset Your Password</h2>
        </div>
    </div>
</div>
<!-- end:: Subheader -->
<div class="kt-container ">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label" style="margin: 0 auto">
                <h3 class="kt-portlet__head-title">
                    INSTRUCTIONS FOR RESET PASSWORD
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body mt-3">
            <!--begin::Section-->
            <div class="kt-section">
                <div class="kt-section__content" style="line-height:30px; font-size:1.2rem">

                    <div class="alert alert-solid-dark alert-bold" role="alert">
                        <div class="alert-icon"><i class="flaticon-information fa-3x"></i></div>
                        <div class="alert-text">
                            <p>
                                PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE REGISTERING WITH AutoSolution.com. ALL AutoSolution.com SERVICES PROVIDED TO YOU ARE SUBJECT TO THESE TERMS. WE SUGGEST THAT YOU PRINT OUT AND KEEP A COPY OF THESE TERMS AND CONDITIONS. PLEASE PAY PARTICULAR ATTENTION TO THESE POINTS.
                            </p>
                        </div>
                    </div>
                    <ul class="fa-ul" style="color:#48465b">
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>1-</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>2-</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>3-</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>4-</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>5-</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>6-</li>
                    </ul>
                </div>
            </div>
            <div class="kt-section">
                <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                    <div class="kt-content kt-content--fit-top  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                        <div class="kt-container  kt-grid__item kt-grid__item--fluid">
                            <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
                                <!--Begin:: App Content-->
                                <div class="kt-grid__item kt-grid__item--fluid">
                                    <!--begin::Form-->
                                    @using (Html.BeginForm("ChangePassword", "ForgotPassword", FormMethod.Post))
                                    {
                                        @Html.HiddenFor(model => model.UserId)
                                        <div class="kt-portlet" style="max-width: 1000px; margin:auto; padding: 10px 25px 25px; box-shadow: 0px 0px 47px 0px rgba(82, 63, 105,.25);">

                                            <div class="kt-login__title  text-center mt-3 kt-mb-15">
                                                <h4>Personal Information</h4>
                                            </div>
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="row justify-content-center align-items-center">
                                                <div class="col-lg-6 col-xl-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.OTP, htmlAttributes: new { @class = "col-form-label" })
                                                        <div class="input-group">
                                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                                                            @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                        <span class="form-text text-muted">@Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row justify-content-center align-items-center">
                                                <div class="col-lg-6 col-xl-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-form-label" })
                                                        <div class="input-group">
                                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                        <span class="form-text text-muted">@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center align-items-center">
                                                <div class="col-lg-6 col-xl-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-form-label" })
                                                        <div class="input-group">
                                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                                        </div>
                                                        <span class="form-text text-muted">@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" row kt-login__actions align-content-end mt-4 justify-content-center align-items-center" style="color:#646c9a">
                                                <div class="col-lg-6 col-xl-6">
                                                    <button id="kt_login_signin_submit" class="btn btn-dark btn-elevate kt-login__btn-primary btn-block mb-5">Reset Password</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Section-->
        </div>
    </div>
</div>

