@model AutoSolution.Services.ViewModel.SignInViewModel

@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/demo1/pages/login/login-1.css" rel="stylesheet" />
<div class="kt-subheader   kt-grid__item mb-5" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main" style="margin: 0 auto;color:white">
            <h3 class="kt-subheader__title" style="font-size:3.5rem">Auto Solution</h3>
            <h5>We Make car maintenance easy so people can enjoy their drive</h5>
        </div>
    </div>
</div>

<div class="kt-container ">
    <div class="kt-portlet">
        <div class="kt-portlet__body mt-3">
            <div class="kt-mycart__head kt-head" style="background-image: url(/assets/Uzair/CheckOut.png); height:270px">
            </div>
            <div class="kt-grid kt-grid--ver kt-grid--root">
                <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">

                        <!--begin::Aside-->
                        <!--begin::Aside-->
                        <!--begin::Content-->
                        <div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
                            <!--begin::Head-->
                            <div class="kt-login__head">
                                <span class="kt-login__signup-label">Don't have an account yet?</span>&nbsp;&nbsp;
                                <a href="#" class="kt-link kt-login__signup-link">Sign Up!</a>
                            </div>
                            <!--end::Head-->
                            <!--begin::Body-->
                            <div class="kt-login__body">
                                <!--begin::Signin-->
                                <div class="kt-login__form">
                                    <div class="kt-login__title">
                                        <h3>Sign In</h3>
                                        @if (ViewBag.Message != null)
                                        {
                                            <div class="alert alert-solid-dark alert-bold" role="alert">
                                                <div class="alert-text">@ViewBag.Message</div>
                                            </div>
                                        }
                                    </div>
                                    <!--begin::Form-->
                                    <div class="kt-form">
                                        <!--begin::Form-->
                                        @using (Html.BeginForm("PlaceOrderSigin", "SignIn", FormMethod.Post))
                                        {
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", PlaceHolder = "Enter Your Email" })
                                                <div>
                                                    <span class="form-text text-muted">@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</span>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", PlaceHolder = "Enter Your Password" })
                                                <div>
                                                    <span class="form-text text-muted">@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</span>
                                                </div>
                                            </div>
                                            <!--begin::Action-->
                                            <div class="kt-login__actions">
                                                <a href="#" class="kt-link kt-login__link-forgot">
                                                </a>
                                                <button id="kt_login_signin_submit" class="btn btn-dark btn-elevate kt-login__btn-primary">Sign In</button>
                                            </div>
                                            <!--end::Action-->
                                        }
                                        </div>
                                    <!--end::Form-->
                                    <!--begin::Divider-->
                                    <div class="kt-login__divider">
                                        <div class="kt-divider">
                                            <span></span>
                                            <span>OR</span>
                                            <span></span>
                                        </div>
                                    </div>
                                    <!--end::Divider-->
                                    <!--begin::Options-->
                                    <div class="kt-login__options">
                                        <a href="@Url.Action("Index", "PlaceOrder", new { id=1})" class="btn btn-dark kt-btn">
                                            @*<i class="fab fa-facebook-f"></i>*@
                                            Shop With Us A Guest
                                        </a>
                                    </div>
                                    <div class="kt-login__options kt-mt-10">
                                        <a href="@Url.Action("Index","Cart")" class="btn btn-dark kt-btn">
                                            @*<i class="fab fa-facebook-f"></i>*@
                                            Back To Cart
                                        </a>
                                    </div>
                                    <!--end::Options-->
                                </div>
                                <!--end::Signin-->
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>