@model AutoSolution.Services.ViewModel.ChangePasswordViewModel
<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
    <div class="row">
        <div class="col-xl-12">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Change Password<small>change your account password</small></h3>
                    </div>
                </div>
                <form class="kt-form kt-form--label-right" id="userChangePassword">
                    <div class="kt-portlet__body">
                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body" style="max-width: 400px; margin:auto;">
                                <div class="row">
                                    <div class="col-lg-12 col-xl-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "col-form-label" })
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-key"></i></span></div>
                                                @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            <span class="form-text text-muted">@Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-xl-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "col-form-label" })
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-key"></i></span></div>
                                                @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", Type = "Password" })
                                            </div>
                                            <span class="form-text text-muted">@Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-xl-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-form-label" })
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-key"></i></span></div>
                                                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", Type = "Password" })
                                            </div>
                                            <span class="form-text text-muted">@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-3 col-xl-3">
                                </div>
                                <div class="col-lg-9 col-xl-9 kt-align-right">
                                    <button type="button" class="btn btn-dark chngePassword">Change Password</button>&nbsp;
                                    <button type="reset" class="btn btn-secondary">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $(".chngePassword").click(function () {
        if ($("#userChangePassword").valid()) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangePassword", "UserDashboard")',
                data: $("#userChangePassword").serialize()
            })
                .done(function (response) {
                    if(response.result == true) {
                        debugger;
                        Swal.fire({
                            text: 'Password Updated Successfully',
                        })   
                        $('#userChangePassword').trigger("reset");
                    }
                    else if (response.result == false) {
                        debugger;
                        Swal.fire({
                            text: ' Opps ...Password Does not match',
                        })
                    }
                    else {
                        debugger;
                        $('#content').html("");
                        $('#content').html(response);
                        console.write(response);
                    }
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });
        } else {

            alert("message");
            console.write("fail");
        }
    });
</script>