@model AutoSolution.Services.ViewModel.PartsProductsDetailViewModel
@{
    ViewBag.Title = "PartProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var counter = 0;
}
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main" style="margin: 0 auto;color:white">
            <h3 class="kt-subheader__title">Auto Parts and Car Accessories for Sale in Pakistan</h3>
            <h5>We Make car maintenance easy so people can enjoy their drive</h5>
        </div>
    </div>
</div>
<div class="kt-container">
    <div class="kt-portlet ">
        <div class="kt-portlet__body">
            <div class="boxed">
                <section class="flat-row main-shop shop-detail style-1">
                    <div class="kt-container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 kt-mb-30">
                                <div class="flexslider">
                                    <ul class="slides">
                                        <li>
                                            <img src="~/assets/Uzair/template (37).png" style="height:550px;width:100%" />
                                        </li>
                                        <li>
                                            <img src="~/assets/Uzair/template (38).png" style="height:550px;width:100%" />
                                        </li>
                                        <li>
                                            <img src="~/assets/Uzair/template (39).png" style="height:550px;width:100%" />
                                        </li>
                                        <li>
                                            <img src="~/assets/Uzair/template (40).png" style="height:550px;width:100%" />
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.col-md-6 -->
                            <div class=" col-sm-12 col-md-6 kt-mb-30">
                                <div class="product-detail clearfix">
                                    <div class="inner">
                                        <div class="content-detail">
                                            <div class="kt-portlet kt-portlet--mobile" style="background-color:#f7f8fa">
                                                <div class="kt-portlet__head">
                                                    <div class="kt-portlet__head-label">
                                                        <h3 class="kt-portlet__head-title">
                                                            Product Details @*<small>portlet sub title</small>*@
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="kt-portlet__body">
                                                    <div class="kt-portlet__body kt-portlet__body--fit">
                                                        <div class="row row-no-padding row-col-separator-xl">
                                                            <div class="col-md-6 col-lg-6 col-xl-6">
                                                                <!--begin:: Widgets/Stats2-1 -->
                                                                <div class="kt-widget1">
                                                                    <div class="kt-widget1__item">
                                                                        <div class="kt-widget1__info">
                                                                            <h3 class="kt-widget1__title">@Html.DisplayNameFor(x => x.PartsProductName)</h3>
                                                                            <span class="kt-widget1__desc">@Model.PartsProductName</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="kt-widget1__item">
                                                                        <div class="kt-widget1__info">
                                                                            <h3 class="kt-widget1__title">@Html.DisplayNameFor(x => x.PartsProductCategoryName)</h3>
                                                                            <span class="kt-widget1__desc">@Model.PartsProductCategoryName</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="kt-widget1__item">
                                                                        <div class="kt-widget1__info">
                                                                            <h3 class="kt-widget1__title">@Html.DisplayNameFor(x => x.PartsProductSubCategoryName)</h3>
                                                                            <span class="kt-widget1__desc">@Model.PartsProductSubCategoryName</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="kt-widget1__item">
                                                                        <div class="kt-widget1__info">
                                                                            <h3 class="kt-widget1__title">Product Code</h3>
                                                                            <span class="kt-widget1__desc">Product Code *****</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-lg-6 col-xl-6" style="border-bottom: 1px solid #ebedf2;">
                                                                <!--begin:: Widgets/Stats2-1 -->
                                                                <div class="kt-widget1">
                                                                    @{
                                                                        if (Model.VehicleManufacturerName != null)
                                                                        {
                                                                            <div class="kt-widget1__item">
                                                                                <div class="kt-widget1__info">
                                                                                    <h3 class="kt-widget1__title">@Html.DisplayNameFor(x => x.VehicleManufacturerName)</h3>
                                                                                    <span class="kt-widget1__desc">@Model.VehicleManufacturerName</span>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        if (Model.VehicleModelName != null)
                                                                        {
                                                                            <div class="kt-widget1__item">
                                                                                <div class="kt-widget1__info">
                                                                                    <h3 class="kt-widget1__title">@Html.DisplayNameFor(x => x.VehicleModelName)</h3>
                                                                                    <span class="kt-widget1__desc">@Model.VehicleModelName</span>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        if (Model.startYear != 0)
                                                                        {
                                                                            <div class="kt-widget1__item">
                                                                                <div class="kt-widget1__info">
                                                                                    <h3 class="kt-widget1__title">@Html.DisplayNameFor(x => x.startYear) - @Html.DisplayNameFor(x => x.EndYear)</h3>
                                                                                    <span class="kt-widget1__desc">
                                                                                        @Model.startYear - @if (Model.EndYear != 0)
                                                                                        {@Model.EndYear}
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    }
                                                                    <div class="kt-widget1__item">
                                                                        <div class="kt-widget1__info">
                                                                            <h3 class="kt-widget1__title">@Html.DisplayNameFor(x => x.UnitPrice)</h3>

                                                                            <span class="kt-widget1__desc">@Model.UnitPrice</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kt-portlet kt-portlet--mobile">

                                                <div class="kt-portlet__body" style="background-color:#f7f8fa">
                                                    <div class="row">
                                                        <div class=" col-sm-6 col-md-3 col-lg-3">
                                                            <div class="kt-portlet__head-label kt-mt-10 kt-mb-15">
                                                                <h5 class="kt-portlet__head-title">
                                                                    Quantity
                                                                </h5>
                                                            </div>
                                                            <div class="input-group">

                                                                <div class="input-group-prepend">
                                                                    <button class="btn btn-dark" type="button">+</button>
                                                                </div>
                                                                <input type="text" class="form-control" readonly min="1" max="100" value="10">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-dark" type="button">-</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row kt-mt-15">
                                                        <div class="col-12">
                                                            <button type="button" class="btn  btn-dark btn-uppercase btn-bolder kt-mr-5">Buy Now</button>
                                                            <button type="button" class="btn  btn-danger btn-uppercase btn-bolder  kt-mr-5">Add To Cart</button>
                                                            <button type="button" class="btn btn-outline-danger btn-elevate btn-icon"><i class="la la-heart-o" style="font-size:1.7rem"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                            </div>
                                            <div>
                                                @*<div class="kt-portlet__head-label kt-mt-15">
                                            <h5 class="kt-portlet__head-title">
                                                Share With
                                            </h5>
                                        </div>
                                        <div class="kt-section__content kt-section__content--solid">
                                            <a href="#" class="btn btn-facebook btn-icon" style="color:white"><i class="socicon-facebook"></i></a>&nbsp;
                                            <a href="#" class="btn btn-twitter  btn-icon" style="color:white"><i class="socicon-twitter"></i></a>&nbsp;
                                            <a href="#" class="btn btn-google btn-icon" style="color:white"><i class="socicon-google"></i></a>&nbsp;
                                            <a href="#" class="btn btn-instagram btn-icon" style="color:white"><i class="socicon-instagram"></i></a>&nbsp;
                                            <a href="#" class="btn btn-linkedin btn-icon" style="color:white"><i class="socicon-linkedin"></i></a>&nbsp;
                                        </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.product-detail -->
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </section>
                <div class="kt-container">
                    <div class="kt-portlet ">
                        <div class="kt-portlet__head" style="background-color:#f7f8fa">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    @Model.PartsProductName
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <!--begin::Accordion-->
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="accordion  accordion-toggle-arrow" id="accordionExample4">
                                        <div class="card" style="border-bottom: 1px solid #ebedf2">
                                            <div class="card-header" id="headingOne4">
                                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4">
                                                    <i class="fa fa-info-circle"></i> Product Description
                                                </div>
                                            </div>
                                            <div id="collapseOne4" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample4" style="">
                                                <div class="card-body">
                                                    @Model.LongDescription
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="well kt-mb-10 kt-mt-10 kt-ml-70" style="padding:15px">
                                        <img alt="Buy-from-pakwheels" style="max-width:100%" src="https://wsa2.pakwheels.com/assets/buy-from-pakwheels-2ea088a74470c8c2599cc0c797296865.png">
                                        <h5 class="kt-mt-15">Buy From Auto Solution and Get</h5>
                                        <ol style="font-size:1.1rem;line-height:1.9">
                                            <li>100% Genuine Products</li>
                                            <li>Hassle Free Buying</li>
                                            <li>Money Back Guarantee</li>
                                        </ol>
                                        <div class="clearfix">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Accordion-->
                        </div>
                    </div>
                </div>
                <div class="kt-portlet">
                    <div class="kt-portlet__body kt-portlet__body--fit">
                        <div class="kt-pricing-2">
                            <div class="kt-pricing-2__head">
                                <div class="kt-pricing-2__title kt-font-light">
                                    <h1>Other Related Parts/Product</h1>
                                </div>

                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="kt-pricing-2_content1" aria-expanded="true">
                                    <div class="kt-portlet__body" style="padding:30px;margin-top:-300px">
                                        <div class="kt-pricing-1">

                                            @if (Model.PartsProductsList.Count > 0)
                                            {
                                                foreach (var product in Model.PartsProductsList)
                                                {
                                                    if (counter % 4 == 0)
                                                    {
                                                        @: <div class="kt-pricing-1__items row">
                                                        }

                                                        <div class="kt-pricing-1__item col-lg-3">
                                                            <div class="kt-portlet__head kt-portlet__head--right kt-ribbon kt-ribbon--dark">
                                                                <div class="kt-ribbon__target" style="top: 10px; left: 10px;">New</div>
                                                                <div class="kt-portlet__head-label" style="align-self: center;">
                                                                    <p class="kt-portlet__head-title" style="font-size:1rem;font-weight:unset;"><span class="kt-font-danger">Free Shipping</span></p>
                                                                </div>
                                                            </div>
                                                            <img src="~/assets/Uzair/template (31).png" alt="image" style="padding:10px">
                                                            <span class="kt-pricing-1__price kt-mt-10">@product.UnitPrice<span class="kt-pricing-1__label">PKR</span></span>
                                                            <h6 class="kt-pricing-1__subtitle p-2">
                                                                <span class="kt-pricing-1__description">
                                                                    <del>@product.UnitPrice PKR</del>:&nbsp; **% OFF
                                                                </span>
                                                            </h6>

                                                            <h2 class="kt-pricing-1__subtitle p-2">
                                                                @if (product.VehicleManufacturer?.VehicleManufacturerName != null)
                                                                {
                                                                    @product.VehicleManufacturer.VehicleManufacturerName@:&nbsp;
                                                                }
                                                                @if (product.VehicleModel?.VehicleModelName != null)
                                                                {
                                                                    @product.VehicleModel.VehicleModelName @:for
                                                                }
                                                                @*else
                                {
                                    @:for
                                }*@
                                                                @if (product.startYear != 0)
                                                                {
                                                                    @product.startYear
                                                                    if (product.EndYear != 0)
                                                                    {
                                                                        @:- @product.EndYear
                                                                    }
                                                                }
                                                                @product.PartsProductName
                                                            </h2>
                                                            <div class="kt-pricing-1__btn align-self-baseline">
                                                                <button type="button" class="btn btn-outline-dark btn-elevate btn-icon"><i class="la la-cart-plus" style="font-size:1.7rem"></i></button>
                                                                <button type="button" class="btn btn-outline-danger btn-elevate btn-icon"><i class="la la-heart-o" style="font-size:1.7rem"></i></button>
                                                                <a href="@Url.Action("PartProductDetail","GetPartProduct",new { id=product.PartsProductId})" class="btn btn-outline-dark btn-elevate btn-icon" target="_blank"><i class="la la-eye" style="font-size:1.7rem"></i></a>
                                                            </div>
                                                        </div>
                                                        counter = counter + 1;
                                                        if (counter % 4 == 0)
                                                        {
                                                        @:</div>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <div class="alert alert-dark" role="alert">
                                                    <div class="alert-icon"><i class="flaticon-light"></i></div>
                                                    <div class="alert-text"><h5>No Data to Show</h5></div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
    $(document).ready(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlsContainer: $(".custom-controls-container"),
            customDirectionNav: $(".custom-navigation a")
        });
    });
</script>