@model AutoSolution.Services.ViewModel.VehicleVersionViewModel

@{
    var counter = 0;
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="fa fa-car-alt"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Search Vehicle Version
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <form class="kt-form kt-form--fit kt-margin-b-20" id="SerachVehicleVersion">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-lg-6 col-xl-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchTerm, htmlAttributes: new { @class = "col-form-label" })
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-car-alt"></i></span></div>
                                @Html.EditorFor(model => model.SearchTerm, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SelectedModel, htmlAttributes: new { @class = "col-form-label" })
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-car-side"></i></span></div>
                                @Html.DropDownListFor(x => Model.SelectedModel, Model.VehicleModelList as SelectList, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-separator kt-separator--md kt-separator--dashed"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-dark btn-brand--icon pageButtons" id="kt_search" type="button">
                            <span>
                                <i class="la la-search"></i>
                                <span>Search</span>
                            </span>
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-secondary btn-secondary--icon" id="kt_reset" type="button">
                            <span>
                                <i class="la la-close"></i>
                                <span>Clear</span>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
            <!--begin: Datatable -->
            <!--end: Datatable -->
        </div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="fa fa-car-alt"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Vehicle Version Names
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <!--begin: Datatable -->
            <div id="kt_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer" id="kt_table_1" aria-describedby="kt_table_1_info" role="grid">
                            <thead>
                                <tr role="row">

                                    <th class="sorting_disabled" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Record ID: activate to sort column descending" style="width: 46.25px;">#</th>
                                    <th class="sorting_disabled" tabindex="0" aria-controls="kt_table_1" rowspan="1" colspan="1" aria-label="Country: activate to sort column ascending" style="width: 53.25px;">@Html.DisplayNameFor(model => model.VehicleVersionName)</th>
                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 68.5px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{if (Model != null)
                                    {
                                        foreach (var item in Model.VehicleVersionList)
                                        {
                                            <tr role="row" class="even">
                                                @{

                                                    var PageNo = Model.Pager.CurrentPage;
                                                    var PageSize = Model.Pager.PageSize;
                                                    int ind = (((PageNo - 1) * PageSize) + (++counter));

                                                }
                                                <td class="sorting_1">@ind</td>
                                                <td>@Html.DisplayFor(modelItem => item.VehicleVersionName)</td>
                                                <td class="kt-align-center">
                                                    <button class="btn Detail_ btn-sm btn-clean btn-icon btn-icon-md" title="Detail" data-id="@item.VehicleVersionId" id="DetailBtn">
                                                        <i class="la la-eye kt-font-dark"></i>
                                                    </button>
                                                    <button class="btn Edit_ btn-sm btn-clean btn-icon btn-icon-md" data-id="@item.VehicleVersionId" title="Edit">
                                                        <i class="la la-edit kt-font-dark"></i>
                                                    </button>
                                                    <button class="btn Delete_  btn-sm btn-clean btn-icon btn-icon-md" data-id="@item.VehicleVersionId" title="Delete">
                                                        <i class="la la-trash kt-font-dark"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr role="row" class="even">
                                            <td colspan="3" class="kt-align-center">
                                                No Data Found
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        @{ var PageNoForBottom = Model.Pager.CurrentPage;
                            var PageSizeForBottom = Model.Pager.PageSize;
                            int StartRange = 0;
                            int EndRange = 0;
                            if (PageNoForBottom > 1)
                            {
                                StartRange = ((PageNoForBottom - 1) * PageSizeForBottom) + 1;
                                EndRange = PageNoForBottom * PageSizeForBottom;
                                if (PageNoForBottom == Model.Pager.EndPage)
                                {
                                    EndRange = Model.Pager.TotalItems;
                                }

                            }
                            else
                            {
                                StartRange = 1;
                                EndRange = 10;

                            }

                        }
                        <div class="dataTables_info" style="color:#595d6e">Showing @StartRange to @EndRange of @Model.Pager.TotalItems</div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers">
                            @if (Model.Pager.EndPage > 1)
                            {
                                if (Model.Pager.CurrentPage > 1)

                                {
                                    <button type="button" class="pageButtons btn btn-outline-dark btn-elevate btn-icon" data-pageno="1"><i class="fa fa-angle-double-left"></i></button>
                                    <button type="button" class="pageButtons btn btn-outline-dark btn-elevate btn-icon" data-pageno="@(Model.Pager.CurrentPage - 1)"><i class="fa fa-angle-left"></i></button>

                                }
                                for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)

                                {
                                    //string activeClass = Model.Pager.CurrentPage == page ? "active btn-dark" : string.Empty;
                                    <button type="button" class="pageButtons btn btn-outline-dark btn-elevate btn-icon" data-pageno="@page">@page</button>


                                }
                                if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                {
                                    <button type="button" class="pageButtons btn btn-outline-dark btn-elevate btn-icon" data-pageno="@(Model.Pager.CurrentPage + 1)"><i class="fa fa-angle-right"></i></button>
                                    <button type="button" class="pageButtons btn btn-outline-dark btn-elevate btn-icon" data-pageno="@Model.Pager.EndPage"><i class="fa fa-angle-double-right"></i></button>

                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Datatable -->
        </div>
    </div>
</div>


<script>

     $(".pageButtons").click(function () {
         var SearchTerm = $("#SearchTerm").val();
         debugger;
         var SelectedVehicleVersion = $("#SelectedModel").val();


		$.ajax({
			url: '@Url.Action("GetVehicleVersion", "VehicleVersion")',
			data: {
                pageNo: $(this).attr("data-pageNo"),
                search: SearchTerm,
                SelectedVehicleVersion: SelectedVehicleVersion
            }
		})
            .done(function (response) {
                $("#tableContiner").html("");
                $("#tableContiner").html(response);
                $('#SerachCarManufacturer').trigger("reset");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
     });

        //reset function
     $("#kt_reset").click(function () {
            debugger
         $('#SerachVehicleVersion').trigger("reset");
         $("#SelectedModel").val(null);
        })


     $(".Edit_").click(function () {
            $.ajax({
            url:' @Url.Action("Edit", "VehicleVersion")',
            type: 'GET',
            data: {
                id: $(this).attr("data-id")
            }
		})
                .done(function (response) {
                    debugger
                    $('#EditModal').html(response);
                $("#kt_modal_1").modal('show');

        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
     });

        $(".Detail_").click(function () {
            $.ajax({
            url:' @Url.Action("Details", "VehicleVersion")',
            type: 'GET',
            data: {
                id: $(this).attr("data-id")
            }
		})
                .done(function (response) {
                    //debugger
                    $('#VehicleModelDetails').html("");
                    $('#VehicleModelDetails').html(response);
                    $("#kt_modal_Details").modal('show');

        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
        });

</script>