@model AutoSolution.Services.ViewModel.ServiceProviderViewModel
@{
    ViewBag.Title = "Index";
}

<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main" style="margin: 0 auto">
            <h2 class="kt-subheader__title kt-align-center">Registrated Yourself As a Service Provider</h2>
        </div>
    </div>
</div>
<!-- end:: Subheader -->
<!--begin: Content -->
<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
    <div class="kt-content kt-content--fit-top  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <div class="kt-container  kt-grid__item kt-grid__item--fluid">
            <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
                <!--Begin:: App Content-->
                <div class="kt-grid__item kt-grid__item--fluid">
                    <!--begin::Form-->
                    @*<form id="ServiceProviderRegistration">*@
                    @using (Html.BeginForm("ServiceProvider", "Registration", FormMethod.Post))
                    {
                        <div class="kt-portlet" style="max-width: 1000px; margin:auto; padding: 10px 25px 25px;">
                            @Html.Partial("_SignUpAlert")
                            <div class="kt-login__title  text-center mt-3 kt-mb-15">
                                <h4>Personal Information</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.First_Name, htmlAttributes: new { @class = "col-form-label" })
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                                            @Html.EditorFor(model => model.First_Name, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Last_Name, htmlAttributes: new { @class = "col-form-label" })
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                                            @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "col-form-label" })
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-mobile-alt"></i></span></div>
                                            @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "col-form-label" })
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-phone"></i></span></div>
                                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-form-label" })
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-at"></i></span></div>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "col-form-label" })

                                        <div class="kt-radio-inline">
                                            <label class="kt-radio kt-radio--solid">
                                                @Html.RadioButtonFor(model => model.Gender, "Male", new { @name = "Gender" })
                                                Male
                                                <span></span>
                                            </label>
                                            <label class=" kt-ml-40 kt-radio kt-radio--solid">
                                                @Html.RadioButtonFor(model => model.Gender, "Female", new { @name = "Gender" })
                                                Female
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-form-label" })
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-key"></i></span></div>
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ConfrimPassword, htmlAttributes: new { @class = "col-form-label" })
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-key"></i></span></div>
                                            @Html.EditorFor(model => model.ConfrimPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="kt-portlet" style="max-width: 1000px; margin:auto; padding: 10px 25px 25px; margin-top: 20px;">
                            <div class="kt-login__title text-center mt-5 kt-mb-15">
                                <h4>Business Information</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SelectedProvince, htmlAttributes: new { @class = "col-form-label" })
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-th-large"></i></span></div>
                                            @Html.DropDownListFor(x => Model.SelectedProvince, Model.ProvincesList as SelectList, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SelectedCity, htmlAttributes: new { @class = "col-form-label" })
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-th-large"></i></span></div>
                                            @Html.DropDownListFor(x => Model.SelectedCity, Model.CitiesList as SelectList, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xl-12">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Select Services</label>
                                        <div class="col-10">
                                            <div class="kt-checkbox-inline">
                                                <div class=" row">

                                                    
                                                    @for (var i = 0; i < Model.ServiceCategoriesList.Count; i++)
                                                    {
                                                    <label>@Model.ServiceCategoriesList[i].ServiceCategoryUtilityName</label>
                                                    @Html.CheckBoxFor(m => m.ServiceCategoriesList[i].IsChecked)
                                                    @Html.HiddenFor(m => m.ServiceCategoriesList[i].ServiceCategoryUtilityId)
                                                    @Html.HiddenFor(m => m.ServiceCategoriesList[i].ServiceCategoryUtilityName)
                                                    <br />

                                                    }



                                                    @*@for (var i = 0; i <Model.ServiceCategoriesList.Count; i++)
        {
            <input name="AreChecked" type="checkbox" value="@Model.ServiceCategoriesList[i].ServiceCategoryUtilityId" /> @Model.ServiceCategoriesList[i].ServiceCategoryUtilityName<br />
        }*@
                                                    @*@foreach (var item in Model.ServiceCategoriesList)
        {
                                            <div class=" col-lg-6 col-md-6  col-sm-6 col-xs-12 mb-2">
                                                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                                    @Html.CheckBoxFor(x => item.IsChecked)
                                                    @item.ServiceCategoryUtilityName
                                                    @Html.HiddenFor(x => item.ServiceCategoryUtilityId)
                                                    @Html.HiddenFor(x => item.ServiceCategoryUtilityName)
                                                    <span></span>
                                                </label>
                                            </div>}*@
                                                </div>
                                            </div>
                                            <span class="form-text text-muted">* Please select your area of services with keen ATTENTION</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xl-12">
                                    <div class="form-group">
                                        <label class="col-form-label">Business Description</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-expand-arrows-alt"></i></span></div>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xl-6">
                                    <div class="kt-checkbox-inline">
                                        <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                            @Html.CheckBoxFor(x => Model.IsTermAndConditionAccepted)
                                            <a href="/TermsAndConditions/index" class="kt-link kt-font-bolder" style="color:#646c9a">I have read and agree to the Terms and Conditions</a>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet" style="max-width: 1000px; margin:auto; padding: 10px 25px 0; margin-top: 20px;">
                            <!--begin::Action-->
                            <div class="kt-login__actions align-content-end mt-4" style="color:#646c9a">
                                <span>
                                    Already have an account <a href="/Login" class="kt-link kt-font-bolder" style="color:#646c9a">Login</a>
                                </span>
                                <button id="kt_login_signin_submit" class="btn btn-dark btn-elevate kt-login__btn-primary float-md-right mb-5">Sign Up As a Service Provider</button>
                            </div>
                            <!--end::Action-->
                        </div>}
                        @*</form>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!--end content-->
<script>


     $("#kt_login_signin_submit").click(function () {
			$.ajax({
				type: 'POST',
				url: '@Url.Action("ServiceProvider", "Registration")',
				data: $("#ServiceProviderRegistration").serialize()
			})
                .done(function (response) {
                    $("#RegisterNotification").show();
                    $('html, body').animate({ scrollTop: $('#RegisterNotification').offset().top }, 'slow');
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				alert("FAIL");
		});

    });
    $(document).ready(function () {
            $('#SelectedProvince').change(function () {
                var selectedProvince = $("#SelectedProvince").val();
                var selectedCity = $('#SelectedCity');
                selectedCity.empty();
                if (selectedProvince != null && selectedProvince != '') {
                    $.getJSON('@Url.Action("GetCities")', { ProvinceId: selectedProvince }, function (cities) {
                        if (cities != null && !jQuery.isEmptyObject(cities))
                        {
                            //selectedCity.append($('<option/>', {
                            //    value: -1,
                            //    text: "----- Select City -----"
                            //}));
                            $.each(cities, function (index, city) {
                                selectedCity.append($('<option/>', {
                                    value: city.Value,
                                    text: city.Text
                                }));
                            });
                        }
                    });
                }
            });
        });
</script>
}